/* .App {
    background: black;
} */

.wrapper {
    padding: 15px 20px;
    max-width: 1024px !important;
    margin: 0 auto;
}

.wrapper h1 {
    font-size: 2rem;
}

.wrapper h3 {
    font-size: 1.625rem;
}

.wrapper h4 {
    font-size: 1.25rem;
}

.login-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 0;
}