.box.BackendStore--header {
    display: block;
    margin: 10px auto 40px;
    max-width: 550px;
}

.box.BackendStore--body {
    margin: 0 0 10px;
    text-align: center;
}

/* .BackendStore--body__headings {
    margin: 0 5px;
    border: 1px solid blue;
} */

.newInventory--inputField {
    width: 100%;
}

.newInventory--inputField > select {
    width: 100%;
}

.inventory-columns {
    display: flex;
    flex-wrap: wrap;
}

.inventory-edit-buttons-container {
    display: block;
    margin-top: 10px;
}

.inventory-edit-buttons {
    width: calc(50% - 10px);
    margin: 0 5px;

}