.box.BackendStore--header {
    display: block;
    margin: 10px auto 40px;
    max-width: 550px;
}

.box.BackendStore--body {
    margin: 0 0 10px;
    text-align: center;
}

/* .BackendStore--body__headings {
    margin: 0 5px;
    border: 1px solid blue;
} */

.newInventory--inputField {
    width: 100%;
}

.newInventory--inputField > select {
    width: 100%;
}

.inventory-columns {
    display: flex;
    flex-wrap: wrap;
}

.new-inventory-item {
    padding: 50px 30px;
}

.new-inventory-item h4 {
    text-align: center;
    margin-bottom: 25px;
}

.inventory-container {
    margin-top: 30px;
}

.inventory-item-container h4 {
    font-weight: bold;
}

@media all and (max-width: 768px) {
    .inventory-item-container {
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        /* flex-wrap: wrap; */
    }
}

@media all and (max-width: 550px) {
    .inventory-item-container {
        flex-direction: column;
    }
}